@import 'bootstrap/dist/css/bootstrap.min.css';

.container-navigation {
    margin: 0;
    width: 100%;
    min-height: calc(100vh - 56px);
    padding: 2rem 4rem;
    box-sizing: border-box;
    background-color: var( --background-color, #161717 );
}

.map {
    background-color: azure;
    border-radius: 10px;
    min-height: 15rem;
}

.content {
    position: relative;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: azure;
    padding-top: 2rem;
    overflow: hidden;
}

.body {
    width: 100%;
}

.inputs {
    position: relative;
}

.inputs .line {
    border-right: 3px dashed #d1d5db;
    position: absolute;
    top: 2px;
    left: .7rem;
    height: 60%;
}

.text {
    text-align: left;
    margin-bottom: .2rem;
    font-size: 14pt;
}

.price {
    align-self: flex-end;
}

.rate{
    width: 100%;
}
.rate > p:nth-child(2){
    font-size: .9rem;
}

.loading {
    display: flex;
    justify-content: center;
}

/** Destination history*/

.destination-history{
    position: absolute;
    z-index: 2000;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%;
    width: 100%;
    transform: translateY(100%);
    transition: all 1s;
}

.destination-history .list-group{
    min-height: calc(100% - 43px);
}

.dark-shadow {
    position: absolute;
    inset: 0;
    z-index: 10;
    background-color: #1617179d;
    transform: translateY(100vh);
    transition: all 1s;
    transition-delay: 1s;
}


.animation-up  {
    transform: translateY(0);
}

.destination-history .title {
    font-size: 18px;
}

.destination-history .icon{
    font-size: 18px;
}

.information p {
    margin: 0;
}

.information .name {
    font-size: 15px;
    max-width: 300px;
}
.information .address {
    font-size: 13px;
    max-width: 300px;
}

.circle {
    background-color: #EDE6E6;
    height: 40px;
    width: 40px;
    flex-basis: 40px;
}

.circle .icon{
    height: 20px;
    width: 20px;
    object-fit: cover;
}

.list-group-item:hover{
    background-color: #f8f9fa;
}